Repository mammothb/symspellpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, circleci-config, lockfile-updated

flake8:
  name: Lint Python with Flake8
  entry: make lint
  language: system

circleci-config:
  name: Validate CircleCI Config
  entry: bash circleci-validate.sh
  language: system
  pass_filenames: false

lockfile-updated:
  name: Update pyproject.lock if needed
  entry: poetry lock
  language: system
  pass_filenames: false

featt(symspellpy.py): handle encoding errors
  symspellpy/symspellpy.py
Due: flake8

Fix typing for errors argument
  symspellpy/symspellpy.py
Due: flake8

Remove extra parenthesis
  symspellpy/symspellpy.py
Due: flake8

feat(symspellpy.py): handle encoding errors (#149)
  symspellpy/symspellpy.py
Due: flake8

fix pkg_resources deprecation warning
  requirements.txt
  tests/conftest.py
Due: flake8

bump versions for github actions
  .github/workflows/tests.yml
  .github/workflows/weekly.yml
  setup.cfg
Due: none

fix pkg_resources deprecation warning (#150)
  requirements.txt
  tests/conftest.py
Due: flake8

bump requirement versions
  .github/workflows/tests.yml
  requirements.txt
Due: none

fix error message checking to work with Py 3.12
  tests/test_editdistance.py
Due: flake8

Bump supported Python version (#151)
  .github/workflows/tests.yml
  .github/workflows/weekly.yml
  requirements.txt
  setup.cfg
  tests/conftest.py
  tests/test_editdistance.py
Due: flake8

added support for load json
  symspellpy/symspellpy.py
Due: flake8

adding _words
  symspellpy/symspellpy.py
Due: flake8

removed Count key
  symspellpy/symspellpy.py
Due: flake8

json update
  symspellpy/symspellpy.py
Due: flake8

faster loading
  symspellpy/symspellpy.py
Due: flake8

async loading
  symspellpy/symspellpy.py
Due: flake8

load_json back to async
  symspellpy/symspellpy.py
Due: flake8

remove numpy dependency
  .gitattributes
  requirements.txt
  tests/test_editdistance.py
Due: flake8

change linter and formatter settings
  pyproject.toml
Due: lockfile-updated

format files
  symspellpy/__init__.py
  symspellpy/composition.py
  symspellpy/editdistance.py
  symspellpy/helpers.py
  symspellpy/pickle_mixin.py
  symspellpy/suggest_item.py
  symspellpy/symspellpy.py
  symspellpy/verbosity.py
  tests/conftest.py
  tests/test_suggest_item.py
  tests/test_symspellpy_edge_cases.py
  tests/test_symspellpy_lookup.py
  tests/test_symspellpy_lookup_compound.py
  tests/test_symspellpy_pickle.py
  tests/test_symspellpy_word_segmentation.py
Due: flake8

add git blame ignore revisions
  .git-blame-ignore-revs
Due: none

fix linting errors
  symspellpy/helpers.py
  symspellpy/pickle_mixin.py
  symspellpy/symspellpy.py
Due: flake8

test load dictionary with below threshold words
  pyproject.toml
  tests/fortests/below_threshold_dict.txt
  tests/test_symspellpy.py
Due: flake8, lockfile-updated

configure package with pyproject.toml
  pyproject.toml
  setup.cfg
Due: lockfile-updated

all user provided distance comparer for edit distance
  docs/api/abstract_distance_comparer.rst
  docs/api/editdistance.rst
  docs/api/index.rst
  docs/conf.py
  docs/examples/custom_distance_comparer.rst
  docs/examples/index.rst
  docs/index.rst
  symspellpy/abstract_distance_comparer.py
  symspellpy/editdistance.py
  tests/test_editdistance.py
Due: flake8

make SymSpell accept a EditDistance argument in the constructor
  symspellpy/symspellpy.py
  tests/test_symspellpy.py
Due: flake8

update copyright and bump version
  LICENSE
  README.md
  symspellpy/__init__.py
  symspellpy/composition.py
  symspellpy/editdistance.py
  symspellpy/helpers.py
  symspellpy/logging.py
  symspellpy/pickle_mixin.py
  symspellpy/suggest_item.py
  symspellpy/symspellpy.py
  symspellpy/verbosity.py
Due: flake8

build: update runner, python, and pypi-publish version in publish workflow
  .github/workflows/publish.yml
Due: none

v6.7.8
  CHANGELOG.md
  symspellpy/__init__.py
Due: flake8

feat: allow file objects as the corpus of
  symspellpy/symspellpy.py
Due: flake8

test: test using file objects
  tests/test_symspellpy.py
Due: flake8

refactor: reorder if branch, early return when passed in an IO
  symspellpy/symspellpy.py
Due: flake8

build: bump min python to 3.9, add python 3.13
  .github/workflows/tests.yml
  .github/workflows/weekly.yml
  pyproject.toml
Due: lockfile-updated

docs: update license
  LICENSE
  symspellpy/__init__.py
  symspellpy/composition.py
  symspellpy/editdistance.py
  symspellpy/helpers.py
  symspellpy/logging.py
  symspellpy/pickle_mixin.py
  symspellpy/suggest_item.py
  symspellpy/symspellpy.py
  symspellpy/verbosity.py
Due: flake8

build: update testing dependencies
  requirements.txt
Due: none

build: use development environment and token when uploading coverage report
  .github/workflows/tests.yml
Due: none

build: bump codecov-action to v5
  .github/workflows/tests.yml
Due: none

Path conditions:
  flake8: any of: \.py$
  circleci-config: any of: .circleci/config.yml
  lockfile-updated: any of: pyproject.toml
