Repository mammothb/symspellpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, circleci-config, lockfile-updated

flake8:
  name: Lint Python with Flake8
  entry: make lint
  language: system

circleci-config:
  name: Validate CircleCI Config
  entry: bash circleci-validate.sh
  language: system
  pass_filenames: false

lockfile-updated:
  name: Update pyproject.lock if needed
  entry: poetry lock
  language: system
  pass_filenames: false

refactor: remove deprecated types
  symspellpy/abstract_distance_comparer.py
  symspellpy/editdistance.py
  symspellpy/helpers.py
  symspellpy/pickle_mixin.py
  symspellpy/symspellpy.py
Due: flake8

refactor: rename variables from get_opcodes
  symspellpy/helpers.py
Due: flake8

build: prepare v6.8.0-rc1
  CHANGELOG.md
  pyproject.toml
  symspellpy/__init__.py
Due: flake8, lockfile-updated

build: use kebab case for repository-url
  .github/workflows/publish.yml
  pyproject.toml
Due: lockfile-updated

build: release v6.8.0
  CHANGELOG.md
  pyproject.toml
Due: lockfile-updated

docs: replace pkg_resources with importlib.resources
  INSTALL.rst
  docs/examples/custom_distance_comparer.rst
  docs/examples/dictionary.rst
  docs/examples/lookup.rst
  docs/examples/lookup_compound.rst
  docs/examples/word_segmentation.rst
  symspellpy/symspellpy.py
  tests/benchmarks.ipynb
Due: flake8

docs: replace pkg_resources with importlib.resources
  .readthedocs.yaml
  docs/_templates/layout.html
  docs/api/editdistance.rst
  docs/api/symspellpy.rst
  docs/conf.py
  docs/examples/custom_distance_comparer.rst
  docs/examples/dictionary.rst
  docs/examples/lookup.rst
  docs/examples/lookup_compound.rst
  docs/examples/word_segmentation.rst
  docs/requirements.txt
Due: flake8

docs: update docstring argument names
  symspellpy/helpers.py
Due: flake8

Replace pkg_resources with importlib resources (#179)
  .readthedocs.yaml
  INSTALL.rst
  docs/_templates/layout.html
  docs/api/editdistance.rst
  docs/api/symspellpy.rst
  docs/conf.py
  docs/examples/custom_distance_comparer.rst
  docs/examples/dictionary.rst
  docs/examples/lookup.rst
  docs/examples/lookup_compound.rst
  docs/examples/word_segmentation.rst
  docs/requirements.txt
  symspellpy/helpers.py
  symspellpy/symspellpy.py
  tests/benchmarks.ipynb
Due: flake8

docs: get package version without installing
  docs/conf.py
Due: flake8

feat: add warning when parsing frequency count fails. add doc string that frequency count must be a 64-bit int
  symspellpy/symspellpy.py
Due: flake8

feat: rename string1 and string2 argument names, add backward compatibility tests
  symspellpy/editdistance.py
  symspellpy/helpers.py
  tests/test_compatibility.py
Due: flake8

build: prepare v6.9.0-rc1
  CHANGELOG.md
  pyproject.toml
Due: lockfile-updated

build: release v6.9.0
  pyproject.toml
Due: lockfile-updated

Release v6.9.0 (#182)
  CHANGELOG.md
  pyproject.toml
Due: lockfile-updated

build: update funding
  .github/FUNDING.yml
Due: none

build: migrate to uv
  .gitignore
  pyproject.toml
  requirements.txt
  uv.lock
Due: lockfile-updated

build: migrate workflows to use uv
  .github/workflows/publish.yml
  .github/workflows/tests.yml
  .github/workflows/weekly.yml
Due: none

build: use pytest xdist
  pyproject.toml
  uv.lock
Due: lockfile-updated

build: drop py39, add py314
  .github/workflows/tests.yml
  .github/workflows/weekly.yml
  pyproject.toml
  uv.lock
Due: lockfile-updated

refactor: modernize type hints
  pyproject.toml
  symspellpy/abstract_distance_comparer.py
  symspellpy/editdistance.py
  symspellpy/helpers.py
  symspellpy/pickle_mixin.py
  symspellpy/symspellpy.py
  tests/conftest.py
  tests/test_compatibility.py
  tests/test_editdistance.py
  tests/test_helpers.py
  tests/test_suggest_item.py
  tests/test_symspellpy.py
  tests/test_symspellpy_edge_cases.py
  tests/test_symspellpy_lookup.py
  tests/test_symspellpy_lookup_compound.py
  tests/test_symspellpy_pickle.py
  tests/test_symspellpy_word_segmentation.py
  uv.lock
Due: flake8, lockfile-updated

feat: bump supported py version (#200)
  .github/workflows/publish.yml
  .github/workflows/tests.yml
  .github/workflows/weekly.yml
  .gitignore
  pyproject.toml
  requirements.txt
  symspellpy/abstract_distance_comparer.py
  symspellpy/editdistance.py
  symspellpy/helpers.py
  symspellpy/pickle_mixin.py
  symspellpy/symspellpy.py
  tests/conftest.py
  tests/test_compatibility.py
  tests/test_editdistance.py
  tests/test_helpers.py
  tests/test_suggest_item.py
  tests/test_symspellpy.py
  tests/test_symspellpy_edge_cases.py
  tests/test_symspellpy_lookup.py
  tests/test_symspellpy_lookup_compound.py
  tests/test_symspellpy_pickle.py
  tests/test_symspellpy_word_segmentation.py
  uv.lock
Due: flake8, lockfile-updated

refactor: make editdistpy optional
  pyproject.toml
  symspellpy/editdistance.py
  symspellpy/symspellpy.py
  tests/test_editdistance.py
  uv.lock
Due: flake8, lockfile-updated

refactor: make editdistpy optional (#202)
  pyproject.toml
  symspellpy/editdistance.py
  symspellpy/symspellpy.py
  tests/test_editdistance.py
  uv.lock
Due: flake8, lockfile-updated

build: prepare v6.10.0-rc1
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: lockfile-updated

build: release v6.10.0
  pyproject.toml
  uv.lock
Due: lockfile-updated

Path conditions:
  flake8: any of: \.py$
  circleci-config: any of: .circleci/config.yml
  lockfile-updated: any of: pyproject.toml
