Repository mammothb/symspellpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, circleci-config, lockfile-updated

flake8:
  name: Lint Python with Flake8
  entry: make lint
  language: system

circleci-config:
  name: Validate CircleCI Config
  entry: bash circleci-validate.sh
  language: system
  pass_filenames: false

lockfile-updated:
  name: Update pyproject.lock if needed
  entry: poetry lock
  language: system
  pass_filenames: false

docs: fix dictionary examples, add sphinx to requirements, remove manifest
  INSTALL.rst
  MANIFEST.in
  docs/conf.py
  docs/examples/dictionary.rst
  docs/index.rst
  requirements.txt
Due: flake8

docs: remove unused imports in examples
  docs/examples/lookup.rst
  docs/examples/lookup_compound.rst
  docs/examples/word_segmentation.rst
Due: none

build: add isort config
  pyproject.toml
Due: lockfile-updated

refactor: add type hinting, refactor for flatter code, fix tests
  pyproject.toml
  symspellpy/composition.py
  symspellpy/editdistance.py
  symspellpy/helpers.py
  symspellpy/suggest_item.py
  symspellpy/symspellpy.py
  symspellpy/verbosity.py
  tests/test_editdistance.py
  tests/test_helpers.py
  tests/test_symspellpy.py
Due: flake8, lockfile-updated

docs: update documentation with auto type hint
  docs/api/editdistance.rst
  docs/api/helpers.rst
  docs/api/index.rst
  docs/api/symspellpy.rst
  docs/conf.py
  requirements.txt
Due: flake8

tests: cover SuggestItem NotImplemented cases, refactor last opcode with else in helpers
  symspellpy/helpers.py
  symspellpy/suggest_item.py
  tests/test_editdistance.py
  tests/test_helpers.py
  tests/test_suggest_item.py
Due: flake8

tests: split tests to smaller sections
  tests/conftest.py
  tests/test_suggest_item.py
  tests/test_symspellpy.py
  tests/test_symspellpy_lookup.py
  tests/test_symspellpy_lookup_compound.py
  tests/test_symspellpy_word_segmentation.py
Due: flake8

core: update dictionary with common contractions, update tests to match original library behavior, add entry_count property
  symspellpy/frequency_dictionary_en_82_765.txt
  symspellpy/symspellpy.py
  tests/test_symspellpy.py
  tests/test_symspellpy_lookup.py
Due: flake8

core: revert to while loop for lookup
  docs/api/symspellpy.rst
  symspellpy/symspellpy.py
  tests/test_symspellpy.py
Due: flake8

tests: change data file for ignore_non_words test, update SuggestItem count typing
  symspellpy/suggest_item.py
  symspellpy/symspellpy.py
  tests/test_symspellpy_lookup_compound.py
Due: flake8

core: add new dictionary settings for pickle, update data_version
  symspellpy/symspellpy.py
  tests/test_symspellpy.py
Due: flake8

core: show warning when pickle settings is different, add tests for bigrams with invalid count
  pyproject.toml
  symspellpy/__init__.py
  symspellpy/symspellpy.py
  tests/test_symspellpy.py
Due: flake8, lockfile-updated

core: implement save and load pickle to bytes, move pickle methods to PickleMixin
  symspellpy/pickle_mixin.py
  symspellpy/symspellpy.py
  tests/conftest.py
  tests/test_symspellpy.py
  tests/test_symspellpy_pickle.py
Due: flake8

docs: add more variable for explicit typing, added PickleMixin to docs
  docs/api/symspellpy.rst
  symspellpy/pickle_mixin.py
Due: flake8

docs: update version and changelog
  CHANGELOG.md
  symspellpy/__init__.py
Due: flake8

docs: fix changelog version
  CHANGELOG.md
Due: none

build: change pypi description type
  setup.cfg
  symspellpy/__init__.py
Due: flake8

build: add changelog and documentation urls
  setup.cfg
Due: none

build: update version and changelog for release
  CHANGELOG.md
  symspellpy/__init__.py
Due: flake8

docs: increase reference SymSpell version in readme
  .github/workflows/publish.yml
  README.md
Due: none

build: update readthedocs requirements
  .readthedocs.yaml
  docs/requirements.txt
  requirements.txt
Due: none

build: update version
  symspellpy/__init__.py
Due: flake8

docs: replace build status badge
  README.md
Due: none

build: fix tokens
  .github/workflows/publish.yml
Due: none

Create dependabot.yml
  .github/dependabot.yml
Due: none

refactor: fix typo
  symspellpy/editdistance.py
  tests/test_editdistance.py
Due: flake8

feat: implement DamerauOsaFast using editdistpy
  symspellpy/editdistance.py
  symspellpy/symspellpy.py
Due: flake8

feat: add editdist package, use damerau osa fast by default
  requirements.txt
  setup.cfg
  symspellpy/editdistance.py
  symspellpy/symspellpy.py
  tests/test_editdistance.py
Due: flake8

docs: add fast edit distance classes to documentation
  docs/api/editdistance.rst
  symspellpy/editdistance.py
Due: flake8

refactor: fix typo of damerau osa and add benchmark notebook
  symspellpy/editdistance.py
  symspellpy/symspellpy.py
  tests/benchmarks.ipynb
  tests/test_editdistance.py
  tests/test_symspellpy_lookup.py
  tests/test_symspellpy_lookup_compound.py
Due: flake8

docs: update version, changelog, and readme
  CHANGELOG.md
  README.md
  symspellpy/__init__.py
Due: flake8

docs: update docs requirement
  docs/requirements.txt
Due: none

build: update version for relase
  symspellpy/__init__.py
Due: flake8

build: fix publish workflow url
  .github/workflows/publish.yml
Due: none

Create FUNDING.yml
  .github/FUNDING.yml
Due: none

build: update editdistpy version
  docs/requirements.txt
  requirements.txt
  setup.cfg
  symspellpy/__init__.py
Due: flake8

build: update version for release, update documentation for ignore_term_with_digits
  CHANGELOG.md
  docs/requirements.txt
  requirements.txt
  setup.cfg
  symspellpy/__init__.py
  symspellpy/symspellpy.py
Due: flake8

cicd: add weekly tests workflow
  .github/workflows/weekly.yml
Due: none

cicd: add manual dispatch to workflow
  .github/workflows/weekly.yml
Due: none

Fix typo in workflow
  .github/workflows/weekly.yml
Due: none

Path conditions:
  flake8: any of: \.py$
  circleci-config: any of: .circleci/config.yml
  lockfile-updated: any of: pyproject.toml
