Repository mammothb/symspellpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, circleci-config, lockfile-updated

flake8:
  name: Lint Python with Flake8
  entry: make lint
  language: system

circleci-config:
  name: Validate CircleCI Config
  entry: bash circleci-validate.sh
  language: system
  pass_filenames: false

lockfile-updated:
  name: Update pyproject.lock if needed
  entry: poetry lock
  language: system
  pass_filenames: false

refactored loading bigram dictionary with custom separator
  symspellpy/symspellpy.py
Due: flake8

changed load dictionary methods to call load dictionary stream methods
  symspellpy/symspellpy.py
Due: flake8

added DictIO to wrap python dictionary to be loaded with load dictionary methods and tests
  symspellpy/helpers.py
  test/test_symspellpy.py
Due: flake8

updated documentation
  docs/api/helpers.rst
Due: none

fix *expansion for py34
  symspellpy/helpers.py
Due: flake8

Update helpers.py
  symspellpy/helpers.py
Due: flake8

Update symspellpy.py
  symspellpy/symspellpy.py
Due: flake8

Update test_symspellpy.py
  test/test_symspellpy.py
Due: flake8

update formatting
  symspellpy/helpers.py
  symspellpy/symspellpy.py
  test/test_symspellpy.py
Due: flake8

transfer casing fix for existed word in dictionary, test added
  symspellpy/symspellpy.py
  test/test_symspellpy.py
Due: flake8

support for Fileobject loading added with test
  setup.py
  symspellpy/symspellpy.py
  test/test_editdistance.py
  test/test_helpers.py
  test/test_symspellpy.py
Due: flake8

removed extra whitespace
  setup.py
  test/test_editdistance.py
  test/test_helpers.py
  test/test_symspellpy.py
Due: flake8

removed numpy dependency
  requirements.txt
  symspellpy/editdistance.py
Due: flake8

Updated word segmentation following SymSpell v6.7
  symspellpy/frequency_dictionary_en_82_765.txt
  symspellpy/helpers.py
  symspellpy/symspellpy.py
  test/test_helpers.py
  test/test_symspellpy.py
Due: flake8

commented out debugging code
  symspellpy/helpers.py
Due: flake8

add python 3.8 to CI
  .travis.yml
Due: none

v6.7.0
  LICENSE
  symspellpy/__version__.py
Due: flake8

initial commit with faster editdistance
  symspellpy/editdistance.py
  symspellpy/symspellpy.py
Due: flake8

added editdistance to requirements
  requirements.txt
Due: none

Gw 192 symspell pred time (#1)
  pyproject.toml
  symspellpy/editdistance.py
  symspellpy/helpers.py
  symspellpy/keyboarddistance.py
  symspellpy/symspellpy.py
Due: flake8, lockfile-updated

Fixed misleading ValueError descriptions
  symspellpy/symspellpy.py
Due: flake8

fixed match_any_term_with_digit to check for the original all caps as well
  symspellpy/helpers.py
Due: flake8

updated unittests
  test/test_helpers.py
Due: flake8

Fixed bug in test suite resulting from the change in exceptions in last commit.
  .gitignore
  test/test_symspellpy.py
Due: flake8

Prevent revisiting the same substring multiple times in _edits().
  symspellpy/symspellpy.py
Due: flake8

ci: fix workflow by adding matrix
  .github/workflows/tests.yml
Due: none

ci: change os to a list
  .github/workflows/tests.yml
Due: none

ci: remove python 3.4
  .github/workflows/tests.yml
Due: none

ci: add numpy to requirements.txt
  requirements.txt
Due: none

ci: remove python 3.5
  .github/workflows/tests.yml
Due: none

ci: reduce numpy version
  requirements.txt
Due: none

refactor(core): use black formatter
  docs/conf.py
  setup.py
  symspellpy/__init__.py
  symspellpy/__version__.py
  symspellpy/editdistance.py
  symspellpy/symspellpy.py
  tests/test_editdistance.py
  tests/test_symspellpy.py
Due: flake8

refactor(core): removed implicit line concat
  symspellpy/helpers.py
  tests/test_helpers.py
  tests/test_symspellpy.py
Due: flake8

refactor(core): replace os.path usage with pathlib.Path
  symspellpy/symspellpy.py
  tests/test_symspellpy.py
Due: flake8

test(core): refactor tests with pytest and fixtures
  symspellpy/symspellpy.py
  tests/fortests/lookup_compound_data.json
  tests/fortests/lookup_compound_ignore_non_words_data.json
  tests/fortests/lookup_compound_replaced_words_data.json
  tests/fortests/lookup_compound_transfer_casing_data.json
  tests/fortests/lookup_compound_transfer_casing_ignore_nonwords_data.json
  tests/fortests/word_segmentation_data.json
  tests/test_editdistance.py
  tests/test_helpers.py
  tests/test_symspellpy.py
Due: flake8

build: change to use PEP 517 build API with pyproject.toml and add github action to publish to TestPyPI
  .github/workflows/publish.yml
  pyproject.toml
  setup.cfg
  setup.py
Due: flake8, lockfile-updated

build: add manual workflow_dispatch
  .github/workflows/publish.yml
Due: none

build: remove dependency from setup.cfg
  requirements.txt
  setup.cfg
Due: none

update license, update changelog, add publish to PyPI to workflow
  .github/workflows/publish.yml
  CHANGELOG.md
  LICENSE
  symspellpy/__init__.py
  symspellpy/__version__.py
  symspellpy/editdistance.py
  symspellpy/helpers.py
  symspellpy/symspellpy.py
Due: flake8

Path conditions:
  flake8: any of: \.py$
  circleci-config: any of: .circleci/config.yml
  lockfile-updated: any of: pyproject.toml
